* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  background: url('../images/chalkboard.jpg') right/cover no-repeat fixed;
  font-family: sans-serif;
  text-align: center;
  max-width: 1000px;
  max-height: 1000px;
}

header {
	text-align: center;
}

.logo {
	max-width: 10em;
	margin-top: 3%;
}

h1 {
  font-size: 2.5em;
	margin-top: 5%;
	margin-bottom: 5%;
	text-decoration: underline;
	text-align: center;
}

h2 {
  font-size: 2em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
}

p {
	text-align: center;
	margin: 3%;
	font-size: 1.2em;
}
